# === BOT ===
BOT_TOKEN="123456:ABC-DEF"
BOT_USERNAME="quototbot"

# === DATABASE ===
DB_URL="postgresql+asyncpg://quoto:quoto_secret_2026@localhost:5432/quoto"

# === AI (OpenRouter) ===
OPENROUTER_API_KEY="sk-or-v1-your-key-here"
OPENROUTER_MODEL="google/gemma-3-1b-it:free"

# === DEVELOPERS ===
ENABLE_DEVELOPERS_NOTIFY=False
DEVELOPER_IDS=[123456789]

# === SCHEDULER ===
QUOTE_HOUR=21
QUOTE_MINUTE=0
TIMEZONE="Europe/Berlin"
MIN_MESSAGES_FOR_AUTO_REVIEW=10
